In [39]:
import pandas as pd
import os
from glob import glob
from PIL import Image
import matplotlib.pyplot as plt
import cv2

from urllib import request
import urllib
from io import BytesIO
import numpy as np
from skimage import io
from tqdm import tqdm

In [40]:
path = "./csv/옷장-붙박이장/드레스룸"

In [41]:
df = pd.read_csv(path+".csv")
df.head()

,PROD_ID,PROD_NM,LV0,LV1,LV2,IMG_URL,LV0_onehot,LV1_onehot,LV2_onehot
0,39556,한샘 샘베딩 드레스룸 40cm(높이 194cm) 행거형 B타입 2종,옷장/붙박이장,드레스룸,목대형 드레스룸,https://image.hanssem.com/hsimg//gds/550/39/39...,[0 0 1 0 0 0 0 0 0],[0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
1,39557,한샘 샘베딩 드레스룸 40cm(높이 194cm) 선반형 2종,옷장/붙박이장,드레스룸,목대형 드레스룸,https://image.hanssem.com/hsimg//gds/550/39/39...,[0 0 1 0 0 0 0 0 0],[0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
2,39559,한샘 샘베딩 드레스룸 80cm(높이 194cm) 행거형 A타입 2종,옷장/붙박이장,드레스룸,목대형 드레스룸,https://image.hanssem.com/hsimg//gds/550/39/39...,[0 0 1 0 0 0 0 0 0],[0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
3,39560,한샘 샘베딩 드레스룸 80cm(높이 194cm) 행거형 B타입 2종,옷장/붙박이장,드레스룸,목대형 드레스룸,https://image.hanssem.com/hsimg//gds/550/39/39...,[0 0 1 0 0 0 0 0 0],[0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
4,39563,한샘 샘베딩 드레스룸 80cm(높이 194cm) 선반형 2종,옷장/붙박이장,드레스룸,목대형 드레스룸,https://image.hanssem.com/hsimg//gds/550/39/39...,[0 0 1 0 0 0 0 0 0],[0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...

In [42]:
print(len(df))

583

In [43]:

print(df["LV2"].unique())

['목대형 드레스룸' '철제형 드레스룸' '엑세서리옵션' '깊이 60cm' '스틸드레스룸(깊이40cm)' '가로 80cm'
 '가로 40cm' '서랍/수납형' '목대드레스룸(깊이60cm)' '목대드레스룸(깊이40cm)']

In [44]:
for label in df["LV2"].unique():
    if not os.path.isdir(path):
        os.makedirs(path)

In [45]:
for idx in df.index:
    df["LV0"][idx] = df["LV0"][idx].replace("/","+")
    df["LV1"][idx] = df["LV1"][idx].replace("/","+")
    df["LV2"][idx] = df["LV2"][idx].replace("/","+")

ipykernel_launcher:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
ipykernel_launcher:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [46]:
df.head()

,PROD_ID,PROD_NM,LV0,LV1,LV2,IMG_URL,LV0_onehot,LV1_onehot,LV2_onehot
0,39556,한샘 샘베딩 드레스룸 40cm(높이 194cm) 행거형 B타입 2종,옷장+붙박이장,드레스룸,목대형 드레스룸,https://image.hanssem.com/hsimg//gds/550/39/39...,[0 0 1 0 0 0 0 0 0],[0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
1,39557,한샘 샘베딩 드레스룸 40cm(높이 194cm) 선반형 2종,옷장+붙박이장,드레스룸,목대형 드레스룸,https://image.hanssem.com/hsimg//gds/550/39/39...,[0 0 1 0 0 0 0 0 0],[0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
2,39559,한샘 샘베딩 드레스룸 80cm(높이 194cm) 행거형 A타입 2종,옷장+붙박이장,드레스룸,목대형 드레스룸,https://image.hanssem.com/hsimg//gds/550/39/39...,[0 0 1 0 0 0 0 0 0],[0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
3,39560,한샘 샘베딩 드레스룸 80cm(높이 194cm) 행거형 B타입 2종,옷장+붙박이장,드레스룸,목대형 드레스룸,https://image.hanssem.com/hsimg//gds/550/39/39...,[0 0 1 0 0 0 0 0 0],[0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
4,39563,한샘 샘베딩 드레스룸 80cm(높이 194cm) 선반형 2종,옷장+붙박이장,드레스룸,목대형 드레스룸,https://image.hanssem.com/hsimg//gds/550/39/39...,[0 0 1 0 0 0 0 0 0],[0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...

In [47]:
df.to_csv(path+".csv", index=False, encoding="utf-8-sig")

In [48]:
dropped_indices = []
imgs = []
lv2_names = []
for idx in tqdm(df.index):
    try:
        res = request.urlopen(df["IMG_URL"][idx])
        img = Image.open(BytesIO(res.read())) 
        if np.array(img).shape == (550,550,3) :
            imgs.append(img)
            lv2_name = df["LV2"][idx]
            lv2_names.append(lv2_name)
        else:
            dropped_indices.append(idx)
        
    except:
        dropped_indices.append(idx)

100%|██████████| 583/583 [01:52<00:00,  5.18it/s]

In [49]:
import pickle
dPath = "D:/download/csv/옷장-붙박이장/드레스룸"

In [50]:
with open(dPath+"/imgs.p", "wb") as f:
    pickle.dump(imgs, f)

with open(dPath+"/lv2_names.p", "wb") as f:
    pickle.dump(lv2_names, f)

with open(dPath+"/dropped_indices.p", "wb") as f:
    pickle.dump(dropped_indices, f)

In [51]:

with open(dPath+"/dropped_indices.p", "rb") as f:
    dropped_indices = pickle.load(f)
len(dropped_indices)

2

In [52]:
with open(dPath+"/imgs.p", "rb") as f:
    imgs = pickle.load(f)
len(imgs)

581

In [53]:
with open(dPath+"/lv2_names.p", "rb") as f:
    lv2_names = pickle.load(f)
len(lv2_names)

581

In [54]:

df2 = df.copy()
if len(df2["IMG_URL"]) != len(imgs):
    df2 = df2.drop([df2.index[idx] for idx in dropped_indices])
    df2.to_csv(path+".csv", index=False, encoding="utf-8-sig")

In [55]:
len(df2["IMG_URL"]), len(imgs)

(581, 581)

In [56]:
for label in df["LV2"].unique():
    if not os.path.isdir(path+f"/{label}"):
        os.makedirs(path+f"/{label}")

In [57]:
for idx,img in tqdm(enumerate(imgs)):
    save_path = path+f"/{lv2_names[idx]}"
    # print(save_path)
    img.save(save_path+f"/{df['PROD_ID'][idx]}.png")

581it [00:30, 18.76it/s]